body {background-color: rgb(242, 174, 174); margin: 0; padding: 0; width: 100%; height: 100%;}
header {text-align: left; background-color: rgb(204, 75, 75); margin: 0; align-items: center; }
content {text-align: center; width: 100%; height: 1/3; }
footer {text-align: center; }
h1 {}
h2 {text-align: right; }
h3 {}
div {}
img {display: block; margin: auto; width: 150px; padding: 20px; }
.first {float: left; margin: 0}
.second {text-align: center; }