/**НЕ ЗАБЫВАЙ ПРО СРАНОЕ НАСЛЕДОВАНИЕ**/

/**ОБЩИЕ (глобальные) ЗНАЧЕНИЯ**/
html{width: 100%; height: 100%;}
body {background-color: #d8eced; margin: 0; height: 100%;}
.container {width: 800px; margin: 0; margin-left: auto; margin-right: auto; }
.clearfix:before {content: ""; display: table;}
.clearfix:after {content: ""; display: table;}
.header {background-color: #2118ff; height: 80px; text-align: right; margin: 0; padding: 10px; }
.content{background-color: #4588cc; margin: 0;}
.footer {background-color: #905bae; height: 100px; margin: 0; text-align: right; padding-right: 20px; position:absolute;}
ul {margin: auto; padding: 0px; }
li{list-style-type: none; margin: 0; display: inline;}
h1 {margin: 0;}
h2 {margin: 0;}
h3 {margin: 10px auto; color: #458c4c; font: 20px; float: left; }
h4 {margin: 0;}
h5 {margin: 0;}
h6 {margin: 0;}
p {font: 18px; margin: 10px; }
.map {width: 100%; height: 374px; margin: 0; padding: 0; }
fieldset {padding:0; margin: 10px;}
.buy {font-size: 20px; background-color: #ff3b18; }
.buy:hover {background-color:#e6644d}
.buy:active {background-color: white; color: #ff3b18;}

/**ТАБЛИЦЫ**/
table {border: 1px solid ; border-collapse: collapse; margin: 10px auto; width: 80%;}
td {border: 1px solid;}

/**ССЫЛКИ**/
.menu a {color: #221a50; font: 24px monospace; }
a:visited {color: #605a83; }
a:hover {color: gray; }
a:active {color: #458c4c; }

/**КАРТИНКИ IMG**/
.all {margin: auto; padding: auto;}
.logo {float: left; height: 80px; margin:auto; }
.product:hover {border: 4px solid #225e28; }
.product {border: 4px solid #225e2800; }
.it {float: left; margin: 10px; height: 100px; width:auto;}
/**.it {float: left; display: inline;}**/

/**ПРОЧЕЕ**/
.to address {width: 200px; height: 30px}
.addres .feedback .check li {color: #458c4c; }
input [type="text"] {color: #458c4c; font: 18px;}